<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">

    <% if logged_in? %>
      <li><%#= link_to 'Users', users_path %></li> 
      <li><%= link_to 'Logout', logout_path, method: :delete %></li>
      <li><%= link_to 'index', tasks_path %></li>


    <% else %>
      <li><%= link_to 'Signup', signup_path %></li>
      <li><%= link_to 'Login', login_path %></li>
    <% end %>　
  </ul>       
</div>          
          
 